@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: url("./vecteezy_night-sky-and-stars-background-vector-illustration_.jpg");
    background-repeat: no-repeat;
    font-weight: 700;
    color: white;
    font-size: 22px;
    font-family: "be vietnam pro";
    overflow: hidden;
}


/*Navbar Styling*/

.navbar {
    display: grid;
    grid-template-columns: repeat(5, 400px 1fr 1fr 1fr 1fr);
    margin-top: 20px;
    grid-gap: 20px;
    margin-left: 15px;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

li:nth-child(1) {
    margin-right: 200px;
    font-size: 35px;
}

li:nth-child(2) {
    margin-left: 340px;
}

.nav-link {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 20px;
    text-align: center;
    border-radius: 50px;
}

.nav-link:not(:first-of-type) {
    background-color: rgba(23, 55, 91, 0.5);
    transition: transform .3s;
}

.nav-link:not(:first-of-type):hover {
    background-color: #4475e2;
    transform: translateY(5px);
}


/*#missions {
    background-color: rgba(23, 55, 91, 0.5);
    transition: transform .3s;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 20px;
    text-align: center;
    border-radius: 50px;
}*/


/*#missions:hover {
    cursor: pointer;
    background-color: #4475e2;
    transform: translateY(5px);
}

.dropdown {
    position: relative;
}

.contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .contents {
    display: block;
}*/


/*navbar styling ends*/


/*hero section styling*/

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 700px 1fr);
    align-items: center;
    margin-top: 30px;
    position: relative;
    margin-left: 15px;
}

.hero-section-content h3 {
    margin-top: -35px;
    color: #4475e2;
}

.hero-section-content hr {
    width: 130px;
    margin-left: 15px;
    margin-top: -10px;
}

.hero-section-content .btn {
    border: 2px solid #4475e2;
    outline: none;
    padding: 15px 45px;
    background: transparent;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transform: transform .3s;
    background-color: rgba(23, 55, 91, 0.5);
    margin-left: 10px;
    margin-top: 20px;
}

.hero-section-content .btn:hover {
    transform: translateY(5px);
    background-color: #4475e2;
}

.hero-section-img {
    position: absolute;
    right: 150px;
    top: 10px;
    height: 700px;
    width: 700px;
}


/*hero section styling ends*/


/*social media*/

.socialmedia {
    transform: translateY(80px) translateX(30px);
}

.socialmedia a {
    font-size: 30px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #4475e2;
    transition: all .3s;
    padding: 10px;
}

.socialmedia a:hover {
    transform: translateY(5px);
    background-color: #4475e2;
}


/*social media ends*/


/*footer*/

.footer {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    font-family: monospace;
    margin: 0;
    font-size: 15px;
}